
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Charmonman:wght@400;700&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Itim&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr:wght@200;300;400;500;600;700&family=Pattaya&family=Pridi:wght@200;300;400;500;600;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sriracha&family=Srisakdi:wght@400;700&display=swap');

/*
CSS rules to specify families
font-family: 'Athiti', sans-serif;
font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Charmonman', cursive;
font-family: 'IBM Plex Sans Thai', sans-serif;
font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Itim', cursive;
font-family: 'K2D', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Kodchasan', sans-serif;
font-family: 'Mali', cursive;
font-family: 'Mitr', sans-serif;
font-family: 'Pattaya', sans-serif;
font-family: 'Pridi', serif;
font-family: 'Prompt', sans-serif;
font-family: 'Sarabun', sans-serif;
font-family: 'Sriracha', cursive;
font-family: 'Srisakdi', cursive;
*/
.splide__slide img {
  width: 160px;
}

.goldcard-shadow {
   background: linear-gradient(270deg, rgb(243, 203, 94) -10.74%, rgb(221, 180, 68) 20.74%, rgb(250, 229, 172) 50.25%, rgb(252, 222, 142) 76.49%, rgb(229, 193, 93) 99.44%);
   /*border: 1px solid rgb(255, 205, 6);*/
   border-radius: 20px;
   box-shadow: rgb(254 231 0) 0px 0px 7px 0px;
 }
 
 .goldcard {
   background: linear-gradient(270deg, rgb(243, 203, 94) -10.74%, rgb(221, 180, 68) 20.74%, rgb(250, 229, 172) 50.25%, rgb(252, 222, 142) 76.49%, rgb(229, 193, 93) 99.44%);
 }
 
 .goldcard2-shadow {
   /*background: linear-gradient(270deg, rgb(243, 203, 94) -10.74%, rgb(221, 180, 68) 20.74%, rgb(250, 229, 172) 50.25%, rgb(252, 222, 142) 76.49%, rgb(229, 193, 93) 99.44%);*/
   border: 1px solid rgb(255, 205, 6);
   border-radius: 20px;
   box-shadow: rgb(254 231 0) 0px 0px 7px 0px;
 }

.border-gold {
   border: 2px solid #ddb444;
 }
 .border-gold-x2 {
   border: 4px solid #ddb444;
 }
 

 .text-gold {
   -webkit-text-fill-color: #0000;
   background: linear-gradient(90deg,#e6c15d,#fcde8e 29.69%,#fae5ac 53.12%,#f3cb5e 76.56%,#ddb444 94.27%);
   -webkit-background-clip: text;
 }

body {
  font-family: Prompt;
}

.profile-pic{
  background: #212529;
  color: #eeeeee;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.normal-font{
  font-family: Pridi;
}

/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
  .h-sm-100 {
      height: 100%;
  }
}

.nav-link{
  color: #fff;
  font-size:large;
}
.nav-link:hover,.nav-link:focus{
  color: #dc3545;
}
.nav-link:active{
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #ddb444;
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }